main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating h3 {
  padding: 1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.list-group-item .form-control {
  padding: 0.75rem 0.5rem;
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .product-qty .form-control {
    padding: 0.75rem 0.5rem;
  }
}
