main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating h3 {
  padding: 1rem;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .product-qty .form-control {
    padding: 0.75rem 0.5rem;
  }
}
